PORT=5000

MONGO_URI=mongodb+srv://nitin:Admin12345@cluster0.udzjoh3.mongodb.net/AIChat?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=nitin123




GROQ_API_KEY=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
RAZORPAY_KEY_ID=rzp_test_T5kaqGpCoNtBaJ

RAZORPAY_KEY_SECRET=D0WptxZ4jvtRYVwz7h42ak1h